.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.image-box-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -50.1%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: unzoom 0.25s linear forwards;
}

.image-box-image:hover {
    animation: zoom 0.25s linear forwards;
}

@keyframes zoom {
    0% {
        width: 100%;
        height: 100%;
    }
    60% {
        width: 135%;
        height: 135%;
    }
    100% {
        width: 130%;
        height: 130%;
    }
}

@keyframes unzoom {
    0% {
        width: 130%;
        height: 130%;
    }
    40% {
        width: 135%;
        height: 135%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}